body {
  font-size: 15px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
.container {
  width: 1110px;
  margin: auto;
  overflow: hidden;
  margin-top: 30px;
}
.grid-2 {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-gap: 10px;
  color: #333333;
}
.sub-grid-2 {
  display: grid;
  grid-template-columns: 18% 80%;
}
.menu .logo img {
  width: 110px;
}
.menu-items {
  align-self: center;
}
.menu-items ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.menu-items ul li {
  display: inline;
  padding-right: 15px;
}
.menu-items ul li a {
  color: #333333;
  font-size: 13px;
}
.menu-items ul li a:hover {
  border-bottom: 2px solid #262626;
}
.tools {
  grid-gap: 15px;
}
.tools .search {
  justify-self: end;
}
.tools i {
  font-size: 13px;
}

/* Showcase Area styles */
.showcase {
  background-image: url("../images/slide1.png");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  padding: 20px 0px;
  margin-top: 20px;
  text-align: center;
}
.showcase .title {
  padding-top: 210px;
}
.showcase .text {
  margin-bottom: 35px;
}
.myButton {
  padding: 13px 20px;
  background: #262626;
  color: white;
  border: none;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}
.showcase .myButton:hover {
  background: #333333;
}
.myButton i {
  margin-left: 3px;
}
