body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}
a {
  text-decoration: none;
}
.container {
  width: 960px;
  margin: auto;
  overflow: hidden;
  margin-top: 30px;
}
.grid-2 {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-gap: 10px;
  color: #333333;
}
.sub-grid-2 {
  display: grid;
  grid-template-columns: 18% 80%;
}
.menu .logo img {
  width: 110px;
}
.menu-items {
  align-self: center;
}
.menu-items ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.menu-items ul li {
  display: inline;
  padding-right: 15px;
}
.menu-items ul li a {
  color: #333333;
  font-size: 13px;
}
.tools {
  grid-gap: 15px;
}
.tools .search {
  justify-self: end;
}
.tools i{
    font-size: 13px;
}
